body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f5f5f5;
  background-color: #232627;

  --width: 256px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background-color: #121415;
  border-radius: 30px;

  padding: 60px;

  font-family: "Poppins", monospace;
}

#nameInput {
  color: white;
  background-color: #323636;
  border-style: solid;
  border-color: #535657;
  border-radius: 10px;
  font-family: "Poppins", monospace;
  font-size: 11pt;
  text-align: center;
  width: var(--width);
}

#nameInput:focus {
  outline: none;
}

#search {
  cursor: pointer;

  color: white;
  background-color: #323636;

  padding: 8px;
  margin-top: 10px;

  border-style: solid;
  border-color: #535657;
  border-radius: 10px;

  font-family: "Poppins", monospace;
  font-size: 11pt;

  opacity: 0;
  transition: opacity 0.2s;
}

#search:hover {
  opacity: 1;
}

.info > img {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 300px;
  width: var(--width);
  transition: border-radius 0.2s, width 0.2s, margin 0.2s;
}

.info > img:hover {
  border-radius: 10px;
  width: calc(var(--width) + 20px);
  margin: -10px;
  cursor: pointer;
}

.stats {
  display: grid;
  text-align: end;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 8px;
}

.stats > progress {
  align-self: center;
  width: 100%;
}

#pkmName {
  font-size: 32pt;
  margin-top: 0;
}

#pkmId {
  font-size: 16pt;
}

#hp {
  accent-color: orangered;
}

#attack {
  accent-color: orange;
}

#defense {
  accent-color: yellow;
}

#spAttack {
  accent-color: lightblue;
}

#spDefense {
  accent-color: limegreen;
}

#speed {
  accent-color: pink;
}
